// hero-qismi //
.hero {
   padding-top: 145px;
   background: #E7816B;
   border-radius: 10px;
   display: flex;
   justify-content: space-between;
   background-image: url(../../img/Oval-hero.png);
   background-repeat: no-repeat;
   background-position: calc(50% + 380px);
}

.hero__title {
   font-family: 'Jost';
   font-style: normal;
   font-weight: 500;
   font-size: 48px;
   line-height: 48px;
   color: #FFFFFF;
   width: 540px;
}

.hero__copy {
   font-family: 'Jost';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   color: #FFFFFF;
   width: 445px;
}

.hero__card {
   padding-left: 95px;
}

.hero__cardbox {
   padding-right: 98.91px;
}

.hero__btn {
   padding-left: 25px;
   padding-right: 25px;
   padding-top: 18px;
   padding-bottom: 18px;
   border: none;
   border-radius: 8px;
   margin-top: 40px;
   font-family: 'Jost';
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   line-height: 22px;
   color: #333136;
}

.hero__btn:hover{
   background: #FFAD9B;
   color: white;
}

@media only screen and (max-width: 988px){
   .hero {
      padding-top: 60px;
      background: #E7816B;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-image: url(../../img/Oval-hero.png);
      background-repeat: no-repeat;
      background-position: calc(50% + 380px);
      background-size:  1000px;
      text-align: center;
   }
   
   .hero__title {
      font-family: 'Jost';
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 48px;
      color: #FFFFFF;
      width: 573px;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
   }
   
   .hero__copy {
      font-family: 'Jost';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #FFFFFF;
      width: 445px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
   }
   
   .hero__card {
      padding-left: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;

   }
   .hero__cardbox {
      padding-top: 75px;
      padding-right: 0;
   }
   
   .hero__btn {
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 18px;
      padding-bottom: 18px;
      border: none;
      border-radius: 8px;
      margin-top: 40px;
      font-family: 'Jost';
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: #333136;
      width: 152px;
      margin-left: auto;
      margin-right: auto;
   }
   
   .hero__btn:hover{
      background: #FFAD9B;
      color: white;
   }
}

@media only screen and (max-width: 564px){
   .hero {
      padding-top: 80px;
      background: #E7816B;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-image: url(../../img/Oval-hero.png);
      background-repeat: no-repeat;
      background-position: calc(50% + 350px);
      background-size:  1000px;
      text-align: center;
   }
   
   .hero__title {
      font-family: 'Jost';
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 48px;
      color: #FFFFFF;
      width: 527px;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
   }
   
   .hero__copy {
      font-family: 'Jost';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #FFFFFF;
      width: 340px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
   }
   
   .hero__card {
      padding-left: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;

   }
   .hero__cardbox {
      padding-top: 165px;
      padding-right: 0;
   }
   
   .hero__btn {
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 18px;
      padding-bottom: 18px;
      border: none;
      border-radius: 8px;
      margin-top: 40px;
      font-family: 'Jost';
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: #333136;
      width: 152px;
      margin-left: auto;
      margin-right: auto;
   }
   
   .hero__btn:hover{
      background: #FFAD9B;
      color: white;
   }
}